[packages]
appdirs = "*"
click = "*"
honcho = "*"
httpie = "*"
packaging = ""
pip = "*"
py = "*"
Pygments = "*"
pyparsing = "*"
pytest = "*"
requests = "*"
setuptools = "*"
six = "*"
wheel = "*"
crayons = "*"
requirements-parser = "*"
"delegator.py" = ">=0.0.6"
"backports.shutil_get_terminal_size" = "*"
parse = "*"
toml = "*"
